/**
 * Fonts
 * -------------------------------------------------------------------------- */

 :root {
  --vp-font-family-base: 'Pretendard';/* 일반 텍스트 폰트 */
  --vp-font-family-mono: 'Consolas'
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-feature-settings: "rlig" 1, "calt" 1;
}

/** 
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #105dcf;
  --vp-c-brand-1: #105dcf;
  --vp-c-brand-light: #1573FF;
  --vp-c-brand-lighter: #105dcf;
  --vp-c-brand-lightest: #105dcf;
  --vp-c-brand-dark: #105dcf;
  --vp-c-brand-darker: #105dcf;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

.dark {
  --vp-c-brand: #1573FF;
  --vp-c-brand-1: #1573FF;
  --vp-c-brand-light: #105dcf;
  --vp-c-brand-lighter: #1573FF;
  --vp-c-brand-lightest: #1573FF;
  --vp-c-brand-dark: #1573FF;
  --vp-c-brand-darker: #1573FF;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    0deg,
    #1573FF 0%,
    #105dcf
  );

  --vp-home-hero-image-background-image: linear-gradient(
    135deg,
    #1573FF 50%,
    #105dcf 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(60px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(80px);
  }
}

/* 메인 페이지 윈도우랑 맥 박스 가운데 정렬 */
.box {
  display: flex;
  align-items: center;
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

/* 스크롤바 숨기기 (마우스 휠 스크롤은 유지) */
::-webkit-scrollbar {
  display: none;
}

/* Firefox용 */
html {
  scrollbar-width: none;
}

/* IE, Edge용 */
body {
  -ms-overflow-style: none;
}